<ion-header class="ion-no-border ion-text-center">
  <ion-toolbar color="light">
    <ion-title><strong>Adicionar Tarefa</strong></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content color="light">
  <ion-toolbar color="light">
    <ion-title>
      
      <div class="container w-100">
        <button class="btn btn-primary btn-shadow btn-style justify-center w-75" style="background-color: var(--ion-color-primary)">
          <strong>CRIAR NOVA TAREFA</strong>
        </button>
      </div>
      

    </ion-title>
  </ion-toolbar>
</ion-content>


<ion-modal
  [isOpen]="true"
  [breakpoints]="[0.1, 0.5, 1]"
  [swipeToClose]="true"
  [initialBreakpoint]="0.9"
  color="light">
  <ng-template style="background-color: var(--ion-color-light);">
    <app-modal-content style="background-color: var(--ion-color-light);">
    
    <ion-content color="light">
      <ion-header >
        <ion-toolbar color="light">
        <ion-title>
          &nbps
        </ion-title>
        </ion-toolbar>
      </ion-header>
    
    </ion-content>
  </app-modal-content>
  
    <ion-content class="taskForm"color="light">

        <div class="form-field">
          <input
            type="text"
            class="form-control shadow-none without-border"
            id="taskTitle"
            placeholder="Digite um Titulo"
          />
          <div class="underline"></div>
        </div>
        <div class="form-field">  
          
          <input
            type="text"
            class="form-control shadow-none without-border"
            id="taskDate"
            placeholder="Adicione um descrição opcional"
          />
          <div class="underline"></div>
        </div>
        <div class="form-field">

          <input
            type="date"
            class="form-control shadow-none without-border"
            id="taskDate"
            placeholder="dd/mm/aaaa"
          />
          <div class="underline"></div>
        </div>
        <div class="form-field">

          <input
            type="text"
            class="form-control shadow-none without-border"
            id="taskDate"
            placeholder="Inserir Categoria"
          />
          <div class="underline"></div>
        </div>
        <div class="form-field">

          <input
            type="text"
            class="form-control shadow-none without-border"
            id="taskDate"
            placeholder="Inserir Anexos"
          />
          <div class="underline"></div>
        </div>
        <div class="form-field">

          <input
            type="text"
            class="form-control shadow-none without-border"
            id="taskDate"
            placeholder="Sub-tarefa Exemplo"
          />
          <div class="underline"></div>
        </div>
    
    </ion-content>
  </ng-template>
</ion-modal>

