
<ion-content color="light">

    <ion-toolbar color="light">
      <ion-title class="ion-text-center" size="large"><strong>Tarefas</strong></ion-title>
    </ion-toolbar>

    <ion-toolbar color="light">
      <div class="to-do" style="background-color: light;">
        <ion-title size="small" color="primary">
          <strong>A FAZER</strong> 
        </ion-title>
        <ion-list color="light">
          <ion-item class="shadow" color={{entry.color}} *ngFor="let entry of form">
            <ion-checkbox class="ion-no-border" slot="start" [(ngModel)]="entry.isChecked"></ion-checkbox>
            <ion-label>{{entry.val}}</ion-label>
           
          </ion-item>
        </ion-list>
      </div>
    </ion-toolbar>

    <ion-toolbar color="light">
     
        <ion-title size="small" color="primary">
          <strong>EM PROGRESSO</strong> 
        </ion-title>
        <ion-slides pager="true" [options]="slideOpts" >
          <ion-slide *ngFor="let entry of form2">
            <div class="progress ion-text-left" style="background-color: var(--ion-color-{{entry.color}});" >
              <span>{{entry.val}}</span>
              <p>{{entry.description}}</p>
            </div>
          </ion-slide>
        </ion-slides>
    </ion-toolbar>

    <ion-toolbar color="light">
     
      <ion-title size="small" color="primary">
        <strong>CONCLUÍDO</strong> 
      </ion-title>
      <ion-list>
        <ion-item *ngFor="let entry of form2" color="light">
          <div class=" ion-text-left "  >
            <span>{{entry.val}}</span>
            <p>{{entry.description}}</p>
          </div>
        </ion-item>
      </ion-list>
  </ion-toolbar>


</ion-content>

